.header-top {
    background: #d9a800;
}
a.button.border,
a.button {
    background: #d9a800;
}
#main-menu ul li a:hover {
    background: #d9a800;
}
#main-menu .dropdown-menu a:hover {
    background: #d9a800;
}
.bloq-search input[type="text"] {
    border: 1px solid #d9a800;
}
.bloq-search input[type="submit"] {
    background: #d9a800;
}
.google-maps .filter {
    background: #d9a800;
}
.section-title:before {
    background-color: #d9a800;
}
.parallax-searchs .form-group .nice-select i,
.parallax-searchs .form-group .nice-select:hover {
    color: #d9a800;
}
.nice-select .option:hover,
.parallax-searchs .form-group .btn {
    background: #d9a800 !important;
}
.listing-hidden-content.blue {
    background: #d9a800;
}
.section-title h2 {
    color: #d9a800;
}
.recently .homes-content .homes-list li {
    color: #d9a800;
}
.recently .homes-content .homes-list li i {
    color: #d9a800;
}
.btn.btn-outline-light,
.first-footer .newsletters h3::after {
    background: #d9a800;
}
.welcome-title h2 span,
.welcome-title h2 span {
    color: #d9a800;
}
.welcome .popup-youtube,
.first-footer .contactus ul li .fa {
    color: #d9a800;
}
.welcome .wprt-image-video .iq-waves .waves {
    background: rgb(250, 41, 100) none repeat scroll 0 0 padding-box;
}
.services-home .bg-base,
.first-footer .bloq-email .email input[type="submit"] {
    background: #d9a800;
}
#navigation.style-1 .current {
    color: #d9a800;
}
#navigation.style-1 ul li:hover {
    background: #d9a800;
}
.feature-cities-1 .listing-badges .featured {
    background: #d9a800;
}
.services-home a.text-base,
.twitter-widget.contuct .twitter-area .text h5 a {
    color: #d9a800;
}
.portfolio .homes-content .homes-list li {
    color: #d9a800;
}
.portfolio .homes-content .homes-list li i {
    color: #696969;
    font-size: 18px;
}
.portfolio .footer i {
    color: #696969;
    font-size: 16px;
}
.top-location .owl-theme .owl-nav [class*="owl-"] {
    background: #d9a800;
}
.blog-section .news-item a:hover h3 {
    color: #d9a800;
}
.blog-section .news-link {
    color: #d9a800;
}
.testimonials .test-1 p::before {
    color: #d9a800;
}
.testimonials .test-1 h3 {
    color: #d9a800;
}
.owl-dot.active {
    background: #d9a800 !important;
}
.counterup .countr .fa {
    color: #d9a800;
}
.realhome_subscribe input {
    border-color: #d9a800;
}
.realhome_form_subscribe button {
    background: #d9a800;
    border: 2px solid #d9a800;
}
.first-footer .netabout h3::after,
.first-footer .navigation h3::after,
.first-footer .widget h3::after,
.first-footer .contactus h3::after {
    background-color: #d9a800;
}
.first-footer .btn {
    background: #d9a800;
}
.first-footer .btn:hover {
    background: transparent;
}
.navigation ul li a:hover {
    color: #d9a800;
}
.twitter-widget.contuct .twitter-area .icon-holder i {
    color: #d9a800;
}
.twitter-widget.contuct .twitter-area .text h4,
.inner-pages .twitter-widget.contuct .twitter-area .text h4 {
    color: #d9a800;
}
.second-footer {
    background: #303441;
}
.go-up {
    background: #d9a800;
}
@media only screen and (max-width: 991px) {
    .homepage-6 .bg-all {
        margin-top: 30px !important;
    }
}
.main-search-field {
    background: #d9a800;
}
.btn-default.btn-theme-colored2:hover {
    background: #d9a800;
}
.text-theme-colored2 {
    color: #d9a800 !important;
}
.btn-dark.btn-theme-colored {
    background-color: #d9a800;
}
.parallax-search .form-group .nice-select:hover {
    color: #d9a800;
}
.parallax-search .form-group .nice-select i {
    color: #d9a800;
}
.parallax-search .form-group .list li:hover {
    background: #d9a800;
}
.parallax-search .form-group .btn {
    background: #d9a800;
}
.inner-pages .blog .active-view-btn:hover {
    background: #d9a800 !important;
}
.inner-pages .change-view-btn:hover {
    color: #d9a800 !important;
}
.inner-pages .blog .block-heading .change-view-btn.lde:hover {
    background: #d9a800;
}
.inner-pages .blog .section-heading .media .media-left i {
    background: #d9a800;
}
.inner-pages .blog .main-search-field select {
    background: #fff;
}
.inner-pages .blog .at-input {
    border: 2px solid #d9a800;
}
.inner-pages .blog .ui-widget.ui-widget-content {
    background: #d9a800;
}
.inner-pages .blog .hvr-bounce-to-right {
    background: #d9a800;
}
.inner-pages .widget h5::after {
    background-color: #d9a800;
}
.inner-pages .portfolio .footer i {
    color: #d9a800;
}
.inner-pages .recent-post .tags a:hover {
    color: #d9a800;
    border-color: #d9a800;
}
.page-item.active .page-link {
    background: #d9a800;
    border-color: #d9a800;
}
.page-link {
    color: #d9a800;
}
.inner-pages .blog .homes-content.details-2 .fa {
    color: #d9a800;
}
.inner-pages .blog .sorting-options h5 {
    color: #d9a800;
}
.inner-pages .blog .homes-content h5::after,
.inner-pages .blog .blog-info.details h5::after,
.inner-pages .blog .property-location h5::after,
.inner-pages .blog .team.assigned h5::after {
    color: #d9a800;
    background-color: #d9a800;
}
.inner-pages .blog .homes-content.details .fa {
    color: #d9a800;
}
.inner-pages .button.alt {
    background-color: #d9a800;
}
.inner-pages .agent-details a:hover {
    color: #d9a800;
}
.inner-pages .agent-details .fa {
    color: #d9a800;
}
.inner-pages .about-us .who-1 h2 span {
    color: #d9a800;
}
.inner-pages .about-us .wprt-image-video .icon-wrap {
    background-color: #d9a800;
}
.bg-2 .button {
    border-color: #d9a800;
}
.inner-pages .panel .panel-heading a {
    background: #d9a800;
}
.plan-price {
    background: #d9a800;
}
.plan-price:after {
    border-top-color: #d9a800;
}
.plan a.btn {
    background: #d9a800;
}
.inner-pages .top-headings h2 {
    color: #d9a800;
}
.inner-pages .port-info .btn {
    background: #d9a800;
    border: 1px solid #d9a800;
}
#login .btn_1,
a.btn_1 {
    background: #d9a800;
}
.inner-pages .blog .social .date {
    background-color: #d9a800;
}
.blog-pots figure {
    background: #d9a800;
}
.blog .blog-pots .fa {
    color: #d9a800;
}
.btn-secondary {
    background: #d9a800;
}
.single-blog-post .img-box .overlay {
    background: rgba(250, 41, 100, 0.8);
}
.inner-pages .form-control {
    border: 1px solid #d9a800;
}
.inner-pages .input-group-btn .btn-primary {
    background: #d9a800;
    border: 1px solid #d9a800;
}
.inner-pages .input-group-btn .btn-primary:hover {
    color: #d9a800;
}
.inner-pages .comments-info h5 {
    color: #d9a800;
}
.inner-pages .comments h3::after,
.inner-pages .leve-comments h3::after {
    background-color: #d9a800;
}
.inner-pages .leve-comments .btn {
    background: #d9a800;
    border: 1px solid #d9a800;
}
.inner-pages .leve-comments .btn:hover {
    border: 1px solid #d9a800;
}
.inner-pages .contact-us .btn {
    background: #d9a800;
    border: 1px solid #d9a800;
}
.inner-pages .contact-us .btn:hover {
    border: 1px solid #d9a800;
}
.inner-pages .call-info h3::after {
    background-color: #d9a800;
}
.inner-pages .call-info ul li .fa {
    color: #d9a800;
}
.inner-pages .single-add-property > h3 {
    color: #d9a800;
}
.inner-pages .prperty-submit-button > button {
    background: #d9a800 none repeat scroll 0 0;
}
.leaflet-div-icon,
.map-marker {
    background-color: #d9a800;
    border: 5px solid #d9a800;
}
.leaflet-div-icon:before,
.map-marker:before {
    border-top-color: #d9a800;
}
.listing-window-image:before {
    background-color: #d9a800;
}
.listing-window-content h3 {
    background-color: #d9a800;
}
.blog-section .action-list .fa-comment {
    color: #d9a800;
}
.blog-section .action-list .fa-share-alt {
    color: #d9a800;
}
.blog-section .action-list .fa-heart {
    color: #d9a800;
}
section.pricing-table {
    padding: 6rem 0;
    background: #fff;
}
